.my-content{
    text-align: center;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14pt;
}
.navbar-brand{
    font-weight: bold;
}
.my-row-separator{
    height: 50px;
}
.page-footer{

}
.my-grid{
    border: black solid;
    height: 500px;
}
.my-menu,.navbar-brand{
padding-bottom: 28px;
padding-right: 17px;
padding-top: 17px;
}
.logowanie{
padding-bottom: 28px;
padding-left: 17px;
padding-right: 17px;
padding-top: 17px;
}
.rejestracja{
padding-bottom: 28px;
padding-left: 17px;
padding-top: 17px;
}